<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scheduling Application | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="~/css/fullcalendar.min.css"/>
    <link rel="stylesheet" href="~/css/leaflet.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    @Html.Partial("_Menu")
    
    <div class="container mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Beun IT</p>
        </footer>
    </div>

    <script src="~/js/fontawesome-all.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/leaflet.js"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
