@using System.Diagnostics
@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<backend.Models.Event>

@{
    ViewData["Title"] = "Home";

    string[] ColorNames = new string[] {
        "text-success",
        "text-danger",
        "text-info",
        "text-primary",
        "text-warning",
        "text-success",
        "text-success",
    };

    string[] DayNames = new string[] {
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
    };
}

<div class="row sc-body p-5">
    @for (var i = 0; i < DayNames.Length; i++) {
        <div class="col-lg-2">
            <h4 class="text-center @ColorNames[i]">@DayNames[i]</h4>

            @foreach (var item in ViewBag.Days[i]) {
                <div class="card card-date m-1">
                    <div class="card-body">
                        <h6>@item.Title</h6>
                        <hr>
                        <p>@item.Start.TimeOfDay</p>
                    </div>
                    <i class="fa fa-question-circle card-info eventRequest" data-id="@(item.Id)" data-toggle="modal" data-target="#detailModal"></i>
                </div>
            }

            @if (ViewBag.Days[i].Count == 0) {
                <div class="card card-date m-1">
                    <p>No events found</p>
                </div>
            }
        </div>
    }

    <div class="col-lg-2">
        <h4 class="text-center">Weekend</h4>

        @foreach (var item in ViewBag.Weekend) {
            <div class="card card-date m-1">
                <div class="card-body">
                    <h6>@item.Title</h6>
                    <hr>
                    <p>@item.Start.TimeOfDay</p>
                </div>
                <i class="fa fa-question-circle card-info eventRequest" data-id="@(item.Id)" data-toggle="modal" data-target="#detailModal"></i>
            </div>
        }

        @if (ViewBag.Weekend.Count == 0) {
            <div class="card card-date m-1">
                <p>No events found</p>
            </div>
        }
    </div>
</div>

<div class="modal" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="detail-title" class="modal-title text-danger"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-success" id="detail-start-date"></p>
                <div class="border p-1 mb-1">
                <h5>Description</h5>
                    <p id="detail-description"></p>
                </div>
                <div class="border p-1">
                <h5>Details</h5>
                    <p>
                        Event duration: <u><span id="detail-timeDuration"/></u>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
