@model backend.Models.Event

@{
    ViewData["Title"] = "Delete Event";
}

<div class="sa-container">
    <h2>Delete Event</h2>
    <hr/>

    <b>@Html.DisplayNameFor(model => model.Title)</b>
    <p>@Html.DisplayFor(model => model.Title)</p>

    <b>@Html.DisplayNameFor(model => model.Description)</b>
    <p>@Html.DisplayFor(model => model.Description)</p>

    <b>@Html.DisplayNameFor(model => model.Start)</b>
    <p>@Html.DisplayFor(model => model.Start)</p>

    <b>@Html.DisplayNameFor(model => model.End)</b>
    <p>@Html.DisplayFor(model => model.End)</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>
