@model backend.Models.Event

@{
    ViewData["Title"] = "Delete Event";
}

<h2>Delete Event</h2>
<hr/>

<h5>@Html.DisplayNameFor(model => model.Title)</h5>
<p>@Html.DisplayFor(model => model.Title)</p>

<h5>@Html.DisplayNameFor(model => model.Description)</h5>
<p>@Html.DisplayFor(model => model.Description)</p>

<h5>@Html.DisplayNameFor(model => model.Start)</h5>
<p>@Html.DisplayFor(model => model.Start)</p>

<h5>@Html.DisplayNameFor(model => model.End)</h5>
<p>@Html.DisplayFor(model => model.End)</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>
