@model backend.Models.Event

@{
    ViewData["Title"] = "Events Details";
}

<h2>Event Details</h2>
<hr/>

<b>@Html.DisplayNameFor(model => model.Title)</b>
<p>@Html.DisplayFor(model => model.Title)</p>

<b>@Html.DisplayNameFor(model => model.Description)</b>
<p>@Html.DisplayFor(model => model.Description)</p>

<b>@Html.DisplayNameFor(model => model.Start)</b>
<p>@Html.DisplayFor(model => model.Start)</p>

<b>@Html.DisplayNameFor(model => model.End)</b>
<p>@Html.DisplayFor(model => model.End)</p>

<b>Owners</b>
@if (ViewBag.Owners != null) {
    foreach (People owner in ViewBag.Owners) {
        if (owner.IsUser())
        {
            <p><a asp-controller="Users" asp-action="Details" asp-route-id="@(owner.Id)">@owner.DisplayName</a></p>
        }
        else
        {
            <p><a asp-controller="Groups" asp-action="Details" asp-route-id="@(owner.Id)">@owner.DisplayName</a></p>
        }
    }
} else {
    <p>No owners found</p>
}

<b>Attendees</b>
@if (ViewBag.Attendees != null) {
    foreach (People attendee in ViewBag.Attendees) {
        if (attendee.IsUser())
        {
            <p><a asp-controller="Users" asp-action="Details" asp-route-id="@(attendee.Id)">@attendee.DisplayName</a></p>
        }
        else
        {
            <p><a asp-controller="Groups" asp-action="Details" asp-route-id="@(attendee.Id)">@attendee.DisplayName</a></p>
        }
    }
} else {
    <p>No attendees found</p>
}

<b>Locations</b>
@if (ViewBag.Locations != null) {
    foreach (Location location in ViewBag.Locations) {
        <p><a asp-controller="Locations" asp-action="Details" asp-route-id="@(location.Id)">@location.Name</a></p>
    }
} else {
    <p>No locations found</p>
}

@if (ViewBag.UserCanEdit)
{
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}
<a class="btn btn-light" asp-action="Index">Back to List</a>
