@model backend.Models.Event

@{
    ViewData["Title"] = "Events Details";
}

<h2>Event Details</h2>
<hr/>

<h1>
    <span class="badge badge-info">@Html.DisplayFor(model => model.Title)</span>
</h1>
<div class="row">
    <div class="col-md-12 event-details">
        <h5><span class="badge badge-success">Event description</span></h5>
        <h6>@Html.DisplayFor(model => model.Description)</h6>
        <h5><span class="badge badge-success">Event start-time</span></h5>
        <h6>@Html.DisplayFor(model => model.Start)</h6>
        <h5><span class="badge badge-success">Event end-time</span></h5>
        <h6>@Html.DisplayFor(model => model.End)</h6>
        <hr></hr>
        <div>
            <h5><span class="badge badge-success">Owners</span></h5>
            @if (ViewBag.Owners != null)
            {
                foreach (People owner in ViewBag.Owners)
                {
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@(owner.Id)">
                        <h6>@owner.DisplayName</h6>
                    </a>
                }
            }
            else
            {
                <h6>There are no owners added.</h6>
            }
        </div>
        <div>
            <h5><span class="badge badge-success">Attendees</span></h5>
            @if (ViewBag.Attendees != null)
            {
                foreach (People attendee in ViewBag.Attendees)
                {
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@(attendee.Id)">
                        <h6>@attendee.DisplayName</h6>
                    </a>
                }
            }
            else
            {
                <h6>There are no attendees added.</h6>
            }
        </div>
        <div>
            <h5><span class="badge badge-success">Groups</span></h5>
            @if (ViewBag.Groups != null)
            {
                foreach (People group in ViewBag.Groups)
                {
                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@(group.Id)">
                        <h6>@group.DisplayName</h6>
                    </a>
                }
            }
            else
            {
                <h6>There are no groups added.</h6>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
