@model IEnumerable<backend.Models.Event>

@{
    ViewData["Title"] = "Event Overview";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/crud.css" />
}

<div class="row">
    <div class="col-12">
        <div class="table-header">
            <h2><i class="far fa-calendar-alt"></i> Events</h2>
            @if (ViewBag.UserCanEdit)
            {
                <a asp-action="Create" class="btn btn-outline-primary">New Event</a>
            }
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Start) Date</th>
                        <th>@Html.DisplayNameFor(model => model.End) Date</th>
                        @if (ViewBag.UserCanEdit)
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Start)</td>
                        <td>@Html.DisplayFor(modelItem => item.End)</td>
                        @if (ViewBag.UserCanEdit)
                        {
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
