@model IEnumerable<backend.Models.People>

@{
    ViewData["Title"] = "People Overview";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/crud.css"/>
}

<div class="row">
    <div class="col-xs-12 col-md-6 mb-3">
        <div class="table-header">
            <h2><i class="far fa-calendar-alt"></i> Groups</h2>
            <a asp-action="Create" asp-controller="Groups" class="btn btn-outline-primary">New</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Where(e => e.IsGroup()))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Groups" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.DisplayName)
                            </a>

                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Groups" asp-route-id="@item.Id"><span class="badge badge-info">Edit</span></a>
                            <a asp-action="Delete" asp-controller="Groups" asp-route-id="@item.Id"><span class="badge badge-danger">Delete</span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
        <div class="table-header">
            <h2><i class="far fa-calendar-alt"></i> Users</h2>
            <a asp-action="Create" asp-controller="Users" class="btn btn-outline-primary">New</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(e => e.IsUser()))
                    {
                        var user = (User) item;
                        if (!user.Deleted)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id"><span class="badge badge-info">Edit</span></a>
                                    <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id"><span class="badge badge-danger">Delete</span></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
