@model IEnumerable<backend.Models.People>

@{
    ViewData["Title"] = "People Overview";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/crud.css"/>
}

<h2>People Overview</h2>

<a asp-action="Create" asp-controller="Groups" class="btn btn-outline-success">New Group</a>
<a asp-action="Create" asp-controller="Users" class="btn btn-outline-success">New User</a>

<div class="table-responsive sc-body">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TypedDisplayName)</th>
            <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TypedDisplayName)</td>

                @if (item.GetType() == typeof(Group))
                {
                    <td>
                        <a asp-action="Details" asp-controller="Groups" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </a>

                    </td>

                    <td>
                        <a asp-action="Edit" asp-controller="Groups" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Groups" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
