@model IEnumerable<backend.Models.People>

@{
    ViewData["Title"] = "People Overview";
}

<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <div class="bg-dark">
                <h2 class="pl-2 pt-2 pb-2 mb-0 text-white">
                    <i class="fas fa-users small"></i>
                    &nbsp;Groups
                    <a asp-action="Create" asp-controller="Groups" class="btn btn-outline-primary mr-3 float-right">New</a>
                </h2>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Where(e => e.IsGroup()))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Groups" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.DisplayName)
                            </a>

                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Groups" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                            <a asp-action="Delete" asp-controller="Groups" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive sc-body">
            <div class="bg-dark">
                <h2 class="pl-2 pt-2 pb-2 mb-0 text-white">
                    <i class="fas fa-user small"></i>
                    &nbsp;Users
                    <a asp-action="Create" asp-controller="Users" class="btn btn-outline-primary mr-3 float-right">New</a>
                </h2>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(e => e.IsUser()))
                    {
                        var user = (User) item;
                        if (!user.Deleted)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                    </a>
                                </td>
                                <td>
                                    @user.Type
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                                    <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                <tr>
                    <td colspan="2" class="text-center">
                        <a asp-action="Deleted" asp-controller="People" class="text-secondary">Show removed users</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
