@model IEnumerable<backend.Models.People>

@{
    ViewData["Title"] = "People Overview";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/crud.css" />
}

<h2>People Overview</h2>

<a asp-action="Create" asp-controller="Groups" class="btn btn-outline-success">New Group</a>
<a asp-action="Create" asp-controller="Users" class="btn btn-outline-success">New User</a>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PeopleId)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PeopleId)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PeopleId">View</a> |
                    <a asp-action="Edit" asp-route-id="@item.PeopleId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PeopleId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
