@model IEnumerable<backend.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h2>Group Overview</h2>
<hr/>
<div class="row">
    <div class="col-xs-12 col-md-6 mb-3">
        <div class="table-header">
            <h2><i class="fas fa-users"></i> Available Groups</h2>
            @if(ViewBag.UserCanEdit)
            {
                <a asp-action="Create" class="btn btn-outline-primary">New</a>
            }
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                    @if (ViewBag.UserCanEdit)
                    {
                        <th>Extra</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (Group item in ViewBag.LeftOvers) {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>
                            <a class="badge badge-success"asp-action="Enroll" asp-controller="Groups" asp-route-id="@item.Id">Enroll</a>
                        </td>
                        @if(ViewBag.UserCanEdit){
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
                                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
        <div class="table-header">
            <h2><i class="fas fa-check text-success"></i> Enrolled Groups</h2>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                    @if (ViewBag.UserCanEdit)
                    {
                        <th>Extra</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (Group item in ViewBag.EnrolledGroups) {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>
                            <a class="badge badge-danger"asp-action="Leave" asp-controller="Groups" asp-route-id="@item.Id">Leave</a>
                        </td>
                        @if(ViewBag.UserCanEdit){
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">View</a>
                                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-sm btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
