@model backend.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>
<hr/>

<b>@Html.DisplayNameFor(model => model.FirstName)</b>
<p>@Html.DisplayFor(model => model.FirstName)</p>

<b>@Html.DisplayNameFor(model => model.Infix)</b>
<p>@Html.DisplayFor(model => model.Infix)</p>

<b>@Html.DisplayNameFor(model => model.LastName)</b>
<p>@Html.DisplayFor(model => model.LastName)</p>

<b>@Html.DisplayNameFor(model => model.Locale)</b>
<p>@Html.DisplayFor(model => model.Locale)</p>

<b>@Html.DisplayNameFor(model => model.Type)</b>
<p>@Html.DisplayFor(model => model.Type)</p>

<b>@Html.DisplayNameFor(model => model.Role)</b>
<p>@Html.DisplayFor(model => model.Role)</p>

<b>@Html.DisplayNameFor(model => model.Deleted)</b>
<p>@Html.DisplayFor(model => model.Deleted)</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
    <a asp-controller="People" asp-action="Index" class="btn btn-light">Back to List</a>
</div>
